/******************************************************************

Site Name: FullStackTemplate
Code: Deepak Kumar
Date: April 2017

******************************************************************/


body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .mat-sidenav {
        min-width: 15vw;

        .mat-button {
            width: 100%;
            position: relative;
            bottom: 0;
            margin: 24px 0;
        }
    }

    .demo-content {
        padding: 32px;
        box-sizing: border-box;
    }

    .mat-toolbar {
        .mat-icon {
            cursor: pointer;
        }

        .demo-toolbar {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    h1 {
        font-size: 20px;
    }
}

// stretch to screen size in fullscreen mode
.demo-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.demo-dialog {
    color: rebeccapurple;
}

.demo-dialog-card {
    max-width: 350px;
    margin: 20px 0;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.dialog-container {
    overflow: hidden !important;
}