/******************************************************************

Site Name: FullStackTemplate
Code: Deepak Kumar
Date: April 2017

******************************************************************/


body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

	input:focus, a:focus {
		outline: none;
	}
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

a {
    color: black;
}

header {
    background: #7ebe92;
    height: 52px;
    font-size: 30px;

    .menu-icon a:hover, .food-component a:hover {
        color: white;
    }

    .logo h3 {
        margin: 13px;
        font-weight: bold;
    }

    .menu-icon {
        padding: 5px 10px 5px 61px;
    }

    .food-component {
        padding: 5px;
    }

    .search-component {
        $backgroundColor: #a1c6ac;
        width: 300px;
        height: 35px;
        margin: 0 auto;
        margin-top: 8px;
        text-align: center;
        background: $backgroundColor;
        border-radius: 28px;

        .search-icon {
            font-size: 15px;
            vertical-align: top;
            height: 100%;
            padding-top: 11px;
        }

        input {
            font-size: 20px;
            border: none;
            background: $backgroundColor;
            line-height: 1px;
            padding: 0;
            vertical-align: top;
            height: 100%;
        }

        input:focus {
            /*outline: none;*/
        }
    }
}
