/******************************************************************

Site Name: FullStackTemplate
Code: Deepak Kumar
Date: April 2017

******************************************************************/


body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    input:focus, a:focus {
        outline: none;
    }
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

a {
    color: black;
}

.container {
    margin: 0 auto;
    width: 760px;
    min-height:450px;
}

@media (max-width: 480px) {
    /* For mobile phones: */
    .container {
        margin: 0 auto;
        width: 400px;
        min-height: 450px;
        
    }

    .loading-image {
        width: 100%;
        margin-top: 200px;
    }
}


#app-loader {
    margin: 0 auto;
    margin-top: 125px;
    /*width: 25%;*/
}



footer {
    text-align: center;
}