ul li {
    display: inline-block;
}

a:focus {
    color:black;
}
ul.login-btn {
    margin: 0;
    padding: 5px 50px 5px 0;

    a:hover {
        color: white;
    }
}

.account-btn {
    .dropdown-menu {
        left: -96px;
    }

    .dropdown {
        width: 90%;
        float: right;
    }

    .image-section {
        float: right;
        width: 72%;

        img {
            max-width: 100%;
            border-radius: 12px;
        }
    }
}

