<div *ngIf="_session.isLoggedIn; else unloggedUser">
    <ul class="">
        <li><a>Hello {{_session.userName}}</a></li>
        <li><button type="button" class="btn btn-link navbar-btn navbar-link" [routerLink]="['/logout']"><i class="fa fa-sign-out" aria-hidden="true"></i></button></li>
    </ul>
</div>
<ng-template #unloggedUser>
    <ul class="login-btn">
        <!--<li><a md-button [routerLink]="['/register']">Register</a></li>-->
        <li><a [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li><!--(click)="openLoginDialog()"-->
    </ul>
</ng-template>