<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FullStackTemplate</title>
    <link href="~/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/site.css" rel="stylesheet" />
    <!-- Polyfill(s) for older browsers -->
    <script src="~/scripts/lib/shim.min.js"></script>

    <script src="~/scripts/lib/zone.js"></script>
    <script src="~/scripts/lib/system.src.js"></script>

    <script src="~/scripts/systemjs.config.js"></script>
    <script>
        System.import('scripts/main.js').catch(function (err) { console.error(err); });
    </script>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Template</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Fullstack project template</h1>
            <p>This template facilitate quicker project setup</p>
        </div>
        @RenderBody()
    </div> <!-- /container -->
    <footer>
        @await Html.PartialAsync("_FooterPartial")
    </footer>
    <template-app>

    </template-app>
    <dev>
        @RenderSection("Scripts", required: false)
    </dev>
</body>
</html>
