<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
    <title>@ViewData["Title"] - FullStackTemplate</title>
    <link href="~/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/site.css" rel="stylesheet" />
    <link href="~/styles/vendor/indigo-pink.css" rel="stylesheet" />

    <!-- Fontawesome -->
    <link href="~/styles/vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/styles/vendor/fonts/fontawesome-webfont.eot" rel="application/vnd.ms-fontobject">
    <link href="~/styles/vendor/fonts/fontawesome-webfont.svg" rel="image/svg+xml">
    <link href="~/styles/vendor/fonts/fontawesome-webfont.ttf" rel="application/x-font-ttf">
    <link href="~/styles/vendor/fonts/fontawesome-webfont.woff" rel="application/font-woff">
    <link href="~/styles/vendor/fonts/fontawesome-webfont.woff2" rel="application/font-woff2">
    <link href="~/styles/vendor/fonts/FontAwesome.otf" rel="font/otf">

    <!-- Polyfill(s) for older browsers -->
    <script src="~/scripts/lib/shim.min.js"></script>

    <script src="~/scripts/lib/zone.js"></script>
    <script src="~/scripts/lib/system.src.js"></script>

    <script src="~/scripts/systemjs.config.js"></script>
    <script>
        System.import('scripts/main.js').catch(function (err) { console.error(err); });
    </script>
    @*<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
</head>
<body>
    @RenderBody()
    <my-app>
        <div class="container">
            <div id="app-loader">
                <div class="">
                    <span class="loading-image" >
                        <img src="~/styles/images/loader.gif" width="150" />
                    </span>
                </div>
            </div>
        </div>
    </my-app>
    <footer>
        @await Html.PartialAsync("_FooterPartial")
    </footer>
    <dev>
        @RenderSection("Scripts", required: false)
    </dev>
</body>
</html>
