<div class="row">
    <div class="stats col-md-6 col-sm-12" *ngFor="let stat of FoodStatListLag; let i = index"
         (@flyInOut.done)="doNext()"
         [@flyInOut]="'in'">
        <!--(click)="removeMe(i)"-->

        <md-card>
            <div class="row item-card-container" style="height: 100%;">
                <div class="col-xs-12 item-card">
                    <div class="col-xs-6 item-card-desc">
                        <span>{{stat.foodName}}</span>
                    </div>
                    <div class="col-xs-6 item-card-stat" 
                         [ngStyle]="getBackground(stat.supplyLeft)">
                        <span>{{stat.supplyLeft}}%</span>
                    </div>
                </div>
            </div>
        </md-card>
    </div>
</div>